.burger-menu{
position: relative;
}
.burger-menu_button{
    display: none;
    @include media-tablet{
        display: block;
        position: relative;
    width: 80px;
    height: 80px;
    background-color: rgb(235, 60, 60);
    border-radius: 50%;
    }


}
 .burger-menu_button:hover,.burger-menu_lines{
 filter: brightness(0.7);
 }
 .burger-menu_lines,
 .burger-menu_lines::after,
 .burger-menu_lines::before{
 position: absolute;
 width: 40px;
 height: 6px;
 background-color: rgb(243, 235, 235);
 }
 .burger-menu_lines{
     top:40px;
   left: 40px;
    transform: translate(-50%,-50%);
 }
 .burger-menu_lines::after{
 content: '';
 top: 12px;
 }
 .burger-menu_lines::before{
 content:'';
 top: -12px;
 }

 .burger-menu__active .burger-menu_lines{
 background-color: transparent;
 }
 .burger-menu__active .burger-menu_lines::before{
  top: 0;
  transform: rotate(45deg);
     }
     .burger-menu__active .burger-menu_lines::after{
    top: 0;
       transform: rotate(-45deg);
        }
        .burger-menu_nav{
display: none;
@include media-tablet{
    padding: 50px;
    position: absolute;
    top:487px;

    z-index: 2;
   display: flex;
     flex-flow: column;
    height: 300px;
    border-radius: 10px;
     background-color: $main-header-color;
      overflow-y: auto;
     right: -124%;
   max-width: 300px;
  //   width: 100%;
      box-shadow: 0 0 2px rgba(0,0,0,0.5);
      margin-top: -390px;
}

         }
         .burger-menu__active .burger-menu_nav{
          right: 0;
         }
        .burger-menu_link{
padding: 10px;
//padding-left: 44px;
text-decoration: none;
font-size: 22px;
font-weight: bold;

color: white;
          }
       .burger-menu_link:hover{
filter: brightness(0.7);
        }

        .burger-menu_overlay{
display: none;
position: fixed;
top: 0;
left: 0;
max-width: 100vw;
width:100%;
height: 100vh;
z-index: 1;
}
.burger-menu__active .burger-menu_overlay{
   display: block;
}


