.HTML-wrapper {
    flex-direction: column;
}
.Html-inform {
    background-color: #c2def4;
}
.introduction-container {
    display: flex;
    justify-content: space-between;
}
.introduction-links {
    background: rgb(245, 245, 245);
    font-size: 2rem;
    padding-left: 10px;
    .introduction-item {
        margin: 10px;
        color: $color-title;
        &:hover {
            cursor: pointer;
        }
    }
}
.outPut-html {
    max-width: 945px;
    width: 80vw;
    font-size: 1.8rem;
    padding: 50px;
    display: none;
    .outPut-html__info {
        width: 100%;
    }
}
#otPutInfo {
    padding: 20px;
    width: 900px;
    height: 420px;
    font-size: 1.5rem;
    overflow-y: scroll;
}
#output-title {
    font-size: 1.8rem;
    padding-left: 20px;
    margin-bottom: 10px;
}

.outPut__workshop {
   display: flex;
   flex-wrap: wrap;


  //  max-width:1000px;
     height: 300px;
    .contentBt {
        position: relative;
        margin: 10px 20px;
&_hidden{
    display: none;
}

        .label {
            width: 250px;

            position: relative;
            padding: 10px;
            background:  #c2def4;
            cursor: pointer;
            color: #36393b;
            font-size: 1.5rem;
            &::before {
                content: "+";
                position: absolute;
                top: 50%;
                right: 20px;
                transform: translateY(-50%);
                font-size: 1.5 em;
            }
        }

        .contentTask {
width: 250px;

            position: relative;

            background-color: #e0eaf1;
            color: black;
            font-size: 1.8rem;
            height: 0;
            overflow: hidden;
            transition: 0.5s;
            overflow-y: auto;
        }
    }

}
.contentBt.activTask .contentTask{
        height: 100px;
        padding: 10px;
    }
    .contentBt.activTask .label::before{
    content: "-";
}