section {
    margin: 50px 0px;
    width: 70vw;
    padding: 40px;
    background-color: $second-color;
    box-shadow: 10px 5px 5px $footer-color;
}

.section-header {
    display: flex;
    align-items: center;
    padding: 10px;
}

.section-title {
    color: $footer-color;
}

.section-image {
   // background-image:url('../../assets/html.png');
background-image: url(../../assets/html.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    width: 200px;
    height: 100px;
    z-index: 99;
}

.section-content {
    padding: 10px 20px;
    font-size: 1.2rem;
}

.section-content p, h3 {
    margin: 10px 0px;
}
.section-content-topics {
    display: flex;
    justify-content: center;
}