.cards-wrapper{
    display: flex;
    justify-content: space-between;
}
.topic-card {
    max-width: 370px;
    height: 342px;
    box-shadow: $shadow;
    margin: 9px;
    box-shadow: $shadow;

>img{
    max-width: 370px;
    height: 230px;
    margin: auto 0;
}
}

